
.custom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 26px;
  height: 26px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.65);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.custom-controls > ul {
  margin: 0px;
  padding: 0px;
}

.custom-controls > ul > li {
  list-style: none;
}

.custom-controls a {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background-color: #fff;
}

.custom-controls a#locationBtn {
  background-image: url(/images/location-icon.png);
}

.custom-controls a#locationBtn:hover,
.custom-controls a#locationBtn:active {
  background-color: #eee;
}

.custom-controls a#locationBtn.disabled,
.custom-controls a#locationBtn.disabled:hover,
.custom-controls a#locationBtn.disabled:active {
  background-color: #ccc;
  cursor: default;
}
